body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: black;
  padding: 20px;
  border: solid 5px white;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
}

h1 {
  margin: 10px 0;
  font-size: 24px;
}

.choice-container {
  width: 180px;
  height: 180px;
  margin: 5px auto;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#game-status {
  margin: 10px 0;
  font-size: 20px;
  min-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#choices {
  width: 180px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#choices img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s;
}

#choices img:hover {
  transform: scale(1.1);
}

#your-score {
  color: white;
}

#opponent-score {
  color: white;
}

.status-message.win {
  color: green;
}

.status-message.lose {
  color: red;
}

.status-message.tie {
  color: yellow;
}
